@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #0B2447;
    overflow-x: hidden;
    font-family: 'Source Code Pro', monospace;
}

.animate-custom-menu{
    background-color: #0B2447;
    opacity: 1;
    animation: popup 0.5s ease;
}

.popup{
    animation: popup 1s ease-out;
}

.toggleHeight{
    animation: changeHeight 0.1s ease forwards;
}

.animate-hero-text{
    animation: hero 1.5s ease;
}

.animate-hero-btn{
    /* height: 0; */
    animation: hero-btn 0.5s linear forwards;
    animation-delay: 1.5s;
}

.animate-hero-desc{
    position: relative;
    left: 200%;
    animation: slide 0.5s linear forwards;
    animation-delay: 1.5s;
}

.animate-underline{
    animation: underline 0.3s ease forwards;
}

@keyframes slide {
    0%{
        left: 200%;
    }
    50%{
        left: 0%;
    }
    80%{
        left: 10%;
    }
    100%{
        left: 0%;
    }
}

/* @keyframes hero-btn{
    0%{
        height: 0;
    }
    100%{
        height: auto;
    }
} */

@keyframes hero {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes underline {
    0%{
        padding: 0px;
        width: 0px;
    }
    100%{
        padding: 1px;
        width:70px;
    }
}

@keyframes changeHeight {
    0%{
        height: 0;
    }
    100%{
        height: 350px;
    }
}

@keyframes popup {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.animate-inflate:hover{
    animation: inflate 1s ease forwards;
}

@keyframes inflate {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
    0%{
        transform: scale(1);
    }
}

.inflate:hover{
    transform: scale(1.2);
}

.animate-width{
    width: 0vw;
    height: 0vw;
    background-color: black;
    opacity: 150%;
    z-index: 9999;
    overflow: hidden;
    animation: width 1s ease forwards;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@keyframes width {
    0%{
        width: 0vw;
        height: 0vw;
    }
    100%{
        width: 100vw;
        height: auto;
    }
}
