@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #0B2447;
    overflow-x: hidden;
}

.animate-custom-menu{
    opacity: 1;
    animation: popup 0.1s ease;
}

@keyframes popup {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}