@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-theme{
  background-color: black;
  color: white;
}

.light-theme{
  background-color: white;
  color: black;
}

.override-theme{
  color: black;
}

.card-shadow{
  box-shadow: rgba(63, 63, 63, 0.35) 0px 5px 15px;
}

.translate-up{
  transition: transform 0.1s ease;
}

.translate-up:hover{
  transform: translateY(-5px);
}

.section-translate-up{
  transition: transform 0.5s ease;
  animation: translateUp 0.5s ease forwards;
}

@keyframes translateUp {
  from{
    transform: translateY(40px);
  }to{
    transform: translateY(0px);
  }
}

.translate-right{
  transition: transform 0.5s ease;
  animation: translateRight 0.5s ease forwards;
}

@keyframes translateRight {
  from{
    transform: translateX(-20px);
  }to{
    transform: translateX(0px);
  }
}
